SECRET_KEY=lob$y#+d)g%&2wm-)+z9o=s!3%9hxly=&d3fy)u+fmphq)wpm(
DEBUG=True
DATABASE_URL=postgresql://neondb_owner:npg_algO6xPz3Xsd@ep-patient-resonance-apsdsojm-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CLOUDINARY_CLOUD_NAME=dpfleawmr
CLOUDINARY_API_KEY=883375194175357
CLOUDINARY_API_SECRET=DHH-ffsUe6F14oWREGrZkLtwIxo
EMAIL_HOST_USER=ajayhkr2002@gmail.com
EMAIL_HOST_PASSWORD=gqrz imec qpqr wzyx
DEFAULT_FROM_EMAIL=ajayhkr2002@gmail.com
CONTACT_RECIPIENT_EMAIL=ajayhkr2002@gmail.com
GEMINI_API_KEY=AQ.Ab8RN6L9uyMWCBF74rfi1wxh27eyBa-h_6s0vzZns-A9BZI8Fg